# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
.env

# IDE / editor
.idea/
.vscode/
*.swp

# OS files
.DS_Store

# Test / output folders
*.log
indirmeler/
